body {
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.starter-template {
	padding: 20px 10px;
	text-align: center;
}

.top-thread-form {
	margin: 10px;
}

.collapse-icon {
	margin-right: 5px;
	color: #FF5300;
	cursor: pointer;
	font-size: large;
}

.thread-row {
	padding: 5px;
	padding-left: 15px;
}

.category-title {
    text-transform: capitalize;
    display: inline-block;
}

.thread-title-edit {
	margin-top: 25px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #FF5300;
	text-decoration: none;
}

.service-loading {
	height: 20px;
	width: 20px;
}

.service-status {
	height: 20px;
	width: 20px;
}

#brand {
	color: #FF5300;
}

#brand:hover {
	color: white;
}

a {
	color: #FF5300;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

.active-text {
	cursor: pointer;
	color: #FF5300;
	text-decoration: none;
}

.active-text:hover {
	color: black;
	text-decoration: none;
}

.btn-primary {
	background: #FF5300;
	border: 0;
}

.btn-primary:hover {
	background: #FF5300;
	border: 0;
	color: black;
}

.btn-default {
	background: gray;
	color: white;
	border: 0;
}

.btn-default:hover {
	background: gray;
	color: black;
	border: 0;
}

.btn-fixed {
	width: 200px;
}

.votes-box {
	float: left;
}

.vote-button {
	cursor: pointer;
}

.off {
	opacity: 0.3;
}

.on {
	opacity: 0.8;
}

.vote-button:hover {
	opacity: 0.8;
}

.top-icon {
	margin-right: 5px;
	color: #FF5300;
}

.green {
	color: green;
}

.red {
	color: red;
}

.title-edit-form {
	margin: 10px;
}

.thread-list-content {
	float: left;
}

.category-text {
	font-size: small;
	text-transform: capitalize;
}

.author-text {
	font-size: small;
}

.thread-content-box {
	padding-top: 10px;
}

.thread-details {
	margin-top: 10px;
	font-size: x-small;
}

.thread-box {
	margin: 5px;
	padding: 10px;
	background: WhiteSmoke;
}

.new-message {
	margin: 10px;
}

.comment-form-link {
	cursor: pointer;
}

p.thread-votes {
	font-size: medium;
}

p.message-votes {
	font-size: small;
}

p.comment-votes {
	font-size: x-small;
}

.thread-text {
	white-space: pre-line;
}